/* address 안에서 공통 사용 */
.address-title {
	font-size: 20px;
}

.table-form {
	line-height: 35px;
	font-size: 12px;
}

.button-margin {
	margin: 0px 10px;
}

.address-table-margin {
	width: 200px;
}

.button {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.point {
	background: #b3daff;
}

.photo {
	display: flex;
	align-items: baseline;
}

.basic-photo {
	width: 100px;
	height: 100px;
/* 	background: url('../image/기본이미지.jpg'); */
	background-repeat: no-repeat;
	background-size: cover; 
}

.photo-button {
	width: 50px;
	height: 20px;
	border: 1px solid lightgray;
	background: white;
	cursor: pointer;
}

.addImg {
	width: 100px;
	height: 100px;
}


/* addressList.jsp */
.addressList {
	text-align: center;
	line-height: 40px;
	border-collapse: collapse;
}

.addressList th {
	font-size: 14px;
	border-bottom: 1px solid black;
}

.addressList tr {
	border-bottom: 1px solid lightgray;
	font-size: 12px;
}

#top-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
}

#search-input {
	height: 20px;
}

#dept {
	width: 100px;
	height: 25px;
	border-radius: 3px;
	margin: 0px 10px;
}

#job {
	width: 100px;
	height: 25px;
	border-radius: 3px;
}

td[onclick] {
	cursor: pointer;
}

a {
	text-decoration: none;
}


/* addressDetail.jsp */
#address-detail textarea {
	border: 1px solid lightgray;
	border-radius: 3px;
	resize: none;
}


/* addressForm */
#address-enroll input, textarea {
	border: 1px solid lightgray;
	border-radius: 3px;
	resize: none;
}

#address-enroll input {
	width: 200px;
}


/* addressUpdate.jsp */
#address-update input, textarea {
	border: 1px solid lightgray;
	border-radius: 3px;
	resize: none;
}

#address-update input {
	width: 200px;
}