	/* ------------- boardDetail --------------*/
	
	.board-detail-header{
		margin-top:0px;
	}
	
	#board-cate-btn{
		border: none;
		background-color: blue;
		border-radius: 10px;	
		margin-bottom: 10px;
		background-color: orange;
		width:70px;
	}
	
	.board-detail-title{
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.board-detail-title-wrap{
		display: flex;
		flex-direction: row;
		font-size:12px;
		align-items: baseline;
		justify-content: space-between	
	}
	.board-itsme{
		display: flex;
		flex-direction: row;
		align-items: baseline
	}
	.board-itsme-photo{
		width: 50px;
		height: 50px;
		margin-bottom:10px;
	}
	
	.board-detail-num{
		display: flex;
		flex-direction: row;
	}
	
	.board-itsme-name{
		margin: 0px 10px;
	}
	.board-detail-num-count{
		margin-right:10px;
		margin-left:10px;
	}
	
	.board-detail-body{
		font-size:12px;
		margin-bottom:70px;
	}
	
	.board-detail-footer{
		font-size:12px;
	}
	
	.board-comment-new{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 30px;
	}
	
	.board-comment-new-photo{
		width: 50px;
		height: 50px;
	}
	
	#new-text{
		width:720px;
		height: 50px;
		align-items: flex-start;
		margin-left:10px;
		border-color: darkgrey;
		border-radius: 5px;
	}
	
	#new-btn{
		margin-left:5px;
		color:white;
		background-color:lightgrey;
		border:none;
		border-radius: 4px;
		width: 48px;
		margin-top: 30px;
	}
	#new-btn.active{
		background-color: cornflowerblue;
	}
	
	.board-comment-old-itsme{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.board-comment-old-itsme-name{
		margin: 0px 10px;
	}
	
	.board-comment-old-itsme-date{
		margin-left: 15px;
		color: darkgrey;
	}
	
	.board-comment-old-text{
		margin-left: 70px;
		margin-bottom: 10px;
		font-size: 13px;
	}
	
	
	#nam{
		min-width: 50px;
		height: 40px;
		background: url("../image/man3.png");
	}
	
	#do{
		min-width: 50px;
		height: 40px;
		background: url("../image/man2.png");
	}

.board-detail-file-box {
	background-color: rgba(218, 232, 255, 0.5);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
}
.board-detail-file-text {
	font-size: 12px;
	text-decoration: none;
	color: black;
}
.board-detail-file-text:hover {
	text-decoration: underline;
}
.board-detail-content { 
	padding: 10px;
}
.board-update {
	float: right;
	margin-left: 10px;
	width: 50px;
	height: 20px;
	background-color: cornflowerblue;
	border: none;
	font-size: 12px;
	margin-top: 5px;
}
.board-delete {
	float: right;
	margin-left: 10px;
	width: 50px;
	height: 20px;
	background-color: cornflowerblue;
	border: none;
	font-size: 12px;
	margin-top: 5px;
}
	
/* ------------- board 메인 --------------*/
.board-title{
	font-size: 30px;	
}
.board-middle{
	height: 50px;
	line-height: 50px;
}
.board-search-select{
	height: 31px;
}
.board-search-item{
	
}
.board-search{
	height: 25px;
	font-size: 16px;
}
.board-write-btn{
	display: inline;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: cornflowerblue;
	float: right;
	text-align: center;
	border: none;
	font-size: 16px;
}
.board-search-btn{
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: cornflowerblue;
	text-align: center;
	border: none;
	font-size: 15px;
}
.line{
	height: 2px;
	background-color: gray;
}
.board-list{
	
}
.board-list-item{
	height: 80px;
	background: rgba(226, 233, 243, 0.6);
	padding: 15px 20px;
	border-bottom: 1px solid lightgray;
}
.board-list-item2{
	height: 80px;
/* 	background: rgba(226, 233, 243, 0.3); */
	padding: 15px 20px;
	border-bottom: 1px solid lightgray;
}
.board-item-title{
	font-size: 20px;
    height: 50%;
    line-height: 40px;
}
.board-item-content{
	display: flex;
    align-items: center;
    height: 50%;
}
.board-type{
	border-radius: 20px;
    background-color: cornflowerblue;
    color: white;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
}
.board-writer{
	border-radius: 20px;
    background-color: orange;
    color: white;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    margin-left: 5px;
}
.board-date{
	color: #999;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
}
.board-comment-num{
	height: 25px;
    line-height: 25px;
    margin-left: 10px;
    color: #999;
}
.board-new{
	width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 2px;
    color: white;
    line-height: 17px;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}
.pages_box{
	text-align: center;
	margin-top: 10px;
}
.pages-selected{
	display: inline-block;
	width: 30px;
    height: 30px;
    line-height: 30px;
    background: cornflowerblue;
    border-radius: 100%;
    color: white;
}
.pages{
	display: inline-block;
	width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}
.left-arrow{
	display: inline-block;
	width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    font-size: 17px;
    font-weight: bold;
}
.right-arrow{
	display: inline-block;
	width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    font-size: 17px;
    font-weight: bold;
}
/* ------------- boardWrite --------------*/
.board-write-title-font{
	font-size: 27px;
	margin-bottom: 20px;
}
.board-write-title{
	width: 95%;
	height: 35px;
	margin-bottom: 10px;
	padding: 0 20px;
	font-size: 20px;
}
.board-write-middle{
	margin-bottom: 20px;
	line-height: 30px;
}
.board-write-file-btn{
	border: 1px solid gray;
	color: black;
	background-color: rgba(226, 233, 243, 0.3);
	font-size: 13px;
	border-radius: 5px;
	padding: 6px;
}
.board-write-filelist{
	border: 1px solid;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 25px;
}
.board-type-select{
	height: 30px;
	font-size: 15px;
	width: 110px;
	margin-left: 15px;
	float: right;
}
.board-write-dept{
	height: 26px;
    font-size: 15px;
    width: 110px;
    margin-left: 15px;
    float: right;
    border: 1px solid gray;
    text-align: center;
    border-radius: 5px;
}
.board-type-selct option{
	background: cornflowerblue; 
	color: yellow;
}
.board-writer-select{
	
}
.board-write-content{
	resize: none;
	width: 95%;
	height: 300px;
	font-size: 20px;
	padding: 20px;
	margin-bottom: 10px;
	overflow: auto;
}
.board-write-file-name{
	display: block;
}
.board-write-file-delete-btn{
	width: 18px;
    height: 18px;
    background: lightgray;
    display: inline-block;
    float: right;
    color: red;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;
}

.board-update-file-text{
	font-size: 12px;
}























