@charset "UTF-8";
	
	
	.content_wrap {
	    background: none;
	    position: relative;
	    max-width: 1339px;
	}
	
	.report_type {
	    margin: 12px 0px;
	    border: 5px solid #e8e8e8;
	}
	

	
	
	.table-line{
	border: 0px solid rgb(0, 0, 0);
    border-image: none;
    width: 800px;
    font-family: malgun gothic,dotum,arial,tahoma;
    margin-top: 1px;
    border-collapse: collapse;
	}
	
	
	.form-magin{
	margin: 15px;
	
	}
	.writer-box{
		    background: rgb(221, 221, 221);
		    padding: 5px;
		    border: 1px solid black;
		    border-image: none;
		    height: 18px;
		    text-align: center;
		    color: rgb(0, 0, 0);
		    font-size: 14px;
		    font-weight: bold;
		    vertical-align: middle;
		
	}
	
	.writer-input{
		
			background: rgb(255, 255, 255);
		    padding: 5px;
		    border: 1px solid black;
		    border-image: none;
		    text-align: left;
		    color: rgb(0, 0, 0);
		    font-size: 12px;
		    font-weight: normal;
		    vertical-align: middle;
	}
	
	
	.input-box{
		vertical-align: middle;
	    width: 100%;
	    text-align: center;
	    border: 0px;
	    box-shadow: inset 0px 0px 0px rgb(150 150 150 / 20%);
	
	}
	
	
	.style-title{
		    background: white;
		    padding: 0px !important;
		    border: 0px currentColor;
		    border-image: none;
		    height: 90px;
		    text-align: center;
		    color: black;
		    font-size: 36px;
		    font-weight: bold;
		    vertical-align: middle;
			
	}
	
	table{
	
	border-collapse: collapse;
	}
	
	
/* 	.ap-box{ */
/* 	    background: white; */
/* 	    padding: 0px !important; */
/* 	    border: currentColor; */
/* 	    border-image: none; */
/* 	    text-align: right; */
/* 	    color: black; */
/* 	    font-size: 12px; */
/* 	    font-weight: normal; */
/* 	    vertical-align: top; */
	
/* 	} */
.sign-box{
    background: white;
    padding: 0px !important;
    border: currentColor;
    border-image: none;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
}



	
	.sign-type1{
	position: relative;
    display: inline-table!important;
    border-collapse: separate;
    border-spacing: 0;
    white-space: normal;
    font-size: 12px;
    margin: 1px -1px 0 0;
/*     padding-left: 26px; */
 
}
	.tb-sign-type{
	border: 1px solid #666;
	}

 .sign-titl-wrap{
    top: -1px;
    left: 0;
    bottom: 0;
    vertical-align: middle;
    border: 1px solid #000;
    width: 24px;
    background: #eee;
    display: table-cell;
    vertical-align: middle;
	
}


	
	.sign-titl{
	display: table;
    padding: 0 2px;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    height: 100%;
  
	}
	
.sign_type1 .sign_titl_wrap .sign_titl strong {
    display: table-cell;
    vertical-align: middle;
}	
	
	
	
	
	
	.sign-member-wrap{
	
	vertical-align: top;
    background: #fff;
    display: table-cell;
    float: left;
    border: 1px solid #000;
    border-left: 0;
    margin: -1px 0 0 0;
}
	
	
	}
	
	.sign-member{
	
	width: 79px;
    vertical-align: top;
    display: table;
    table-layout: fixed;
	
	}
	
	
	.sign-rank-wrap .sign-name-wrap .sign-data-wrap{
	display: table-row;

	
	}
	.sign-rank{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 79px;
	height: 26px;
	}
	
	.sign-rank-wrap{
	display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    font-size: 12px;
    padding: 2px 4px;
	
	}
	
	.sign-rank-wrap{
	height: 26px;
    border-left: 0;
    min-height: 26px;
	}
	
	
	.sign-name-wrap{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 79px;
	height: 75px;
    border-top: 1px solid #000;
	}
	
	.sign-name{
	padding: 2px 0;
    display: block;
    margin-top: 25px;
	    height: auto;
	}
	
	
	
	.sign-name-wrap{
	vertical-align: top;
    background: #fff;
    display: table-cell;
    float: left;
    border: 1px solid #000;
    border-left: 0;
    margin: -1px 0 0 0;
	
	}
	
	.sign-member{
	
	padding: 2px 0;
    display: block;
	
	}
	
	
	.sign-name{
	width: 79px;
    vertical-align: top;
    display: table;
    table-layout: fixed;

	
	}
	
	
	.sign-rank{
	height: 26px;
	}
	
	
	.sign-data{
	height: 26px;
    border-top: 1px solid #000;
    display: table-row;
	
	}
	
	.sign-member{
	width: 79px;
    vertical-align: top;
    display: table;
    table-layout: fixed;
	
	
	}
	
	
	.sign-memeber-wrap .sign-member .sign-rank-wrap .sign-wrap .sign-name-wrap . sign-name .sign-data{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 79px;
	}
	
	
	tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
	}
	
	
	tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
	}
	
	
	.

-table{
	border: 0px solid rgb(0, 0, 0);
    border-image: none;
    width: 800px;
    font-family: malgun gothic,dotum,arial,tahoma;
    margin-top: 10px;
    border-collapse: collapse;
	
	}
	
	.con-cate{
	background: rgb(221, 221, 221);
    padding: 5px;
    border: 1px solid black;
    border-image: none;
    height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
	
	}
	.con-title{
	
	background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
    border-image: none;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    
	}
	
	
	.con-date{
	background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
    border-image: none;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;

	}
	
	.con-dep{
	background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
    border-image: none;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;

	}
	
	.ipt-editor{
	
	width: 100%;
    border: 1px solid #ccc;
    background: #f9f9f9;
    height: 26px;
    line-height: 26px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
	
	}
	
	.sign-body{
	margin-left: 200px;
	
	}
	.sign-body2{
	margin-left: 10px;
	
	}
	
	
	.editor-text{
	background: rgb(255, 255, 255);
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: currentColor black black;
    padding: 5px;
    height: 350px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
	
	
	}
	
	
	.top-left{
	background: white;
    padding: 0px !important;
    border: currentColor;
    border-image: none;
    text-align: left;
    color: black;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
	
	
	}
	
	.top-right{
	background: white;
    padding: 0px !important;
    border: currentColor;
    border-image: none;
    text-align: right;
    color: black;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
}
	
	.sign-wrap{
	display:inline-flex ;
    margin-right: -1px;
    font-size: 12px;
	
	}
	
	
	
	.tb-sgin{
	border: 1px solid #666;
	border-spacing: 0;
    border-collapse: collapse;
    width: 60px;
}

	.sign-t{
	width: 15px;
    background: #eee;
    padding: 6px;
    text-align: center;
    word-break: break-word;
    white-space: normal;
	border: 1px solid black;
	
}
	.sign-td{
	padding: 0!important;
	}
	
	
	.sing-tb2{
	    width: auto;
		border-spacing: 0;
  	 	border-collapse: collapse;
	}

	
	.table-line-pay{
	width: 800px;
    border-collapse: collapse !important;
    color: black;
    background: white;
    border: 1px solid black;
    font-size: 12px;
    font-family: malgun gothic,dotum,arial,tahoma;
	}
	
	
	.style-pay-title{
	
	padding: 3px;
    border: 1px solid black;
    height: 90px !important;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
	}
	
	
	.top-right-pay{
	padding: 3px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    text-align: right;
	
	}
	
	.top-left-pay{
	padding: 3px;
    border: 1px solid black;
    height: 90px !important;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
	
	
	}
	
	
	.pay-table{
	width: 770px;
    margin: 9px;
    color: black;
    background: white;
    border: 2px solid black;
    font-size: 12px;
    font-family: "malgun gothic", dotum, arial, tahoma;
    border-collapse: collapse !important;
    height: 404.545px;
	}
	
	
	
	.pay-table-td{
	background: rgb(221, 221, 221);
	padding: 3px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size:14px;
    width:100px;
	
	}
	
	.pay-table-td-insert{
	
	padding: 3px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
     width:97px;
     border:none;
	}
	
	.content-input{
	width: 800px;
    margin: 9px;
    color: black;
    background: white;
    border: 2px solid black;
    font-size: 12px;
    font-family: "malgun gothic", dotum, arial, tahoma;
    border-collapse: collapse !important;
	margin: -1px;
	}
	.style-btn{
	width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer
	
	}
	
	