
/* 공통 사용 */
textarea {
	resize: none;
}

a {
	text-decoration: none;
}

.button {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.point {
	background-color: #b3daff;
}

.button-margin {
	margin: 0px 10px;
}


/* suveyList.jsp */
.surveyList {
	text-align: center;
	line-height: 40px;
	border-collapse: collapse;
}

.surveyList th {
	font-size: 14px;
	border-bottom: 1px solid black;
}

.surveyList tr {
	border-bottom: 1px solid lightgray;
	font-size: 12px;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
}

#search-input {
	height: 20px;
}

#status {
	margin-left: 10px;
	height: 25px;
	width: 100px;
}

.surveyTitle {
	cursor: pointer;
}

/* surveyFinal */
.title {
	font-size: 20px;
}

.sub-title {
	display: flex;
	justify-content: space-between;
}

#suvey-title {
	font-size: 20px;
	font-weight: bold;
}

#answer-num {
	font-size: 20px;
	font-weight: bold;
	margin: 0px 10px;
}

.border {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 12px;
}

.hr-line {
	width: 99%;
}

.progress-bar {
	width: 200px;
	height: 20px;
}

#list {
	display: flex;
	justify-content: flex-end;
}

.table td {
	width: 200px;
	font-size: 12px;
}

/* suveyForm.jsp */
input, textarea {
	border: 1px solid lightgray;
}

table {
	font-size: 12px;
}

.table {
	line-height: 30px;
}

.main-table {
	line-height: 30px;	
}

.td-margin {
	width: 150px;
}

.suvey-question {
	width: 500px;
}

.option {
	width: 350px;
}

.question-length {
	width: 400px;
}

.add-opt {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.deleteArea {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 7px;
}

.center-button {
	display: flex;
	justify-content: center;
}

.long-button {
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.deleteopt {
	font-size: 12px;
	margin-left: 10px;
}

.br {
	height: 20px;
}

.progress {
	height: 15px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 2px rgb(0 0 0/ 10%);
	box-shadow: inset 0 1px 2px rgb(0 0 0/ 10%);
}

.prog-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 15px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0/ 15%);
	box-shadow: inset 0 -1px 0 rgb(0 0 0/ 15%);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
}

.col_success {
	background-color: #5cb85c;
}

.col_info {
	background-color: #5bc0de;
}

.essayList {
	margin: 5px 0px;
}

.resultTable {
	line-height: 30px;
	font-size: 14px;
}