<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath:root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 필터로 인코딩 설정, Spring에서 제공하므로 라이브러리 안가져 와도 됨 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 공용 에러페이지 등록 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>	
	
	<!-- address 관련 -->
	<servlet>
		<servlet-name>addressServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/address-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>addressServlet</servlet-name> 
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>
	
	<!-- approval 관련 -->
	<servlet>
		<servlet-name>approvalServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/approval-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>approvalServlet</servlet-name> 
		<url-pattern>*.ap</url-pattern>
	</servlet-mapping>
	
	<!-- calendar 관련 -->
	<servlet>
		<servlet-name>calendarServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/calendar-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>calendarServlet</servlet-name> 
		<url-pattern>*.ca</url-pattern>
	</servlet-mapping>
	
	<!-- chat 관련 -->
	<servlet>
		<servlet-name>chatServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/chat-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>chatServlet</servlet-name> 
		<url-pattern>*.chat</url-pattern>
	</servlet-mapping>
	
	<!-- collabo 관련 -->
	<servlet>
		<servlet-name>collaboServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/collabo-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>collaboServlet</servlet-name> 
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>
	
	<!-- member 관련 -->
	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/member-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name> 
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<!-- board 관련 -->
	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/board-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name> 
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
	<!-- survey 관련 -->
	<servlet>
		<servlet-name>surveyServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/survey-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>surveyServlet</servlet-name> 
		<url-pattern>*.su</url-pattern>
	</servlet-mapping>
	
	<!-- message 관련 -->
	<servlet>
		<servlet-name>messageServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/message-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>messageServlet</servlet-name> 
		<url-pattern>*.msg</url-pattern>
	</servlet-mapping>
	
</web-app>
