@charset "UTF-8";

	@font-face {
	    font-family: 'Pretendard-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
	}

	html {font-family: 'Pretendard-Regular'; }
	
/* 	* { */
/* 		padding: 0; */
/* 		margin: 0; */
/* 		box-sizing: border-box; */
/* 	    font-family: 'NanumBarunGothic'; */
/* 	} */

	.main-king{
		width:1300px;
		height: auto;
		margin: auto;
		margin-top: 50px;
		padding: 20px;
/* 		border: 1px solid black; */
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.main-left{
		width: 20%;
/* 		border: 1px solid black; */
	}
	
	.main-right{
		width: 900px;
		height: 650px;
 		border: 1px solid lightgrey;
		border-radius: 5px; 
		padding:40px;
		overflow: auto;
	}
	
	.logo{
		height: 100px;
		background: no-repeat center url("../image/데이워크로그인로고.png");
		cursor: pointer;
		margin-bottom:10px;
	}
	
	.main-myInfo{
		border: 1px solid lightgrey;
		border-radius: 5px;
		height: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		font-size:12px;
		padding-top: 20px;
	}
	.main-profile{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	 	justify-content: space-evenly;
	}
	
	.main-profile-photo{
		min-width: 50px;
		height: 50px;
	}
	
	.main-profile-name{
		font-weight: bold;
		font-size:15px;
	}
	
	#active-two{
		margin-top:5px;
		margin-bottom: 5px;
	}
	
	.main-active-one, .main-active-two, .main-active-three{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0px 40px;
		cursor:pointer;
	}
	.main-active-one-text:hover, .main-active-two-text:hover, .main-active-three-text:hover{
		border-bottom: 1px solid black;
	}
	
	.main-line{
		display: flex;
		justify-content: center;
		margin-top:10px;
	}
	
	.main-active{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	
	.main-mypage:hover{
		cursor: pointer;
		border-bottom: 1px solid;
	}
	
	/* leftBox */
	.main-cate-item{
		height: 20px;
	    padding: 10px;
	    line-height: 20px;
	    font-size: 13px;
	    border: 1px solid lightgray;
	    border-radius: 5px;
	    cursor: pointer;
	}
	
	.main-cate-sub-item{
		height: 20px;
	    padding: 10px;
	    padding-left: 20px;	    
	    line-height: 20px;
	    font-size: 13px;
	    border: 1px solid lightgray;
	    border-radius: 5px;
	    display: none;
	}
	.main-cate-sub-item.active{
	    display: block;
	}
	.main-cate-item:hover{
		color: cornflowerblue;
	}
	.main-cate-sub-item:hover{
		color: cornflowerblue;
	}
	.main-cate-arrow{
		float: right;
	    margin-right: 10px;
	    font-size: 23px;
	    padding-top: 5px;
	    position: relative;
	}
	.down{
		position: absolute;
		right: 0px;
		top: -5px;
	}
	
	
	.main-commute{
/* 		border: 1px solid lightgrey; */
		height: 10%;
		padding:10px;
		display: flex;
		flex-direction: column;
		margin-top:10px;
		font-size:12px;
	}
	
	.commute-button{
		display: flex;
		flex-direction: row;
		justify-content: space-around
	}
	
	.commute{
		width:130px;
		height:30px;
		border:none;
		border-radius: 2px;
	}
	
	#start{
		background-color: cornflowerblue;
		margin-right: 5px;
	}
	
	#end{
		background-color: lightgray;
	}
	
	.commute-progressbar{
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	
	.commute-real{
		width:100%;
		height: 30px;
	}
	
	.commute-text{
		display: flex;
		flex-direction: row;
		justify-content: space-between
	}
	
/* 	.main-category{ */
/* 		border: 1px solid lightgrey; */
/* 		border-radius: 5px; */
/* 		height: 34%; */
/* 		padding:30px; */
/* 		font-size:12px; */
/* 	} */
	
	.cate{
		margin-bottom: 37px;
	}
	
/* 	.cate-notice-p:hover, .cate-they-p:hover, .cate-approval-p:hover{ */
/* 		position: relative; */
/* 		cursor: pointer; */
		
/* 	} */
	.cate-notice-p, .cate-they-p, .cate-approval-p{
/* 		position: relative; */
		cursor: pointer;
	}
	.notice, .they, .approval{
		position: relative;
	}
	
	.cate-notice-c, .cate-they-c, .cate-approval-c{
		position: absolute;
		border-radius: 5px;
		background: #fff;
		z-index: 1;
		transition: .2s;
		opacity: 0;
		padding: 0px 10px;
	}
	
	.cate-notice-c.active {
		top: 20px;
		opacity: 1;
	}
	
	.cate-they-c.active {
		top: 20px;
		opacity: 1;
	}
	
	.cate-approval-c.active {
		top: 20px;
		opacity: 1;
	}
	
	.cate-collabo-p{
		cursor:pointer;
	}
	.cate-day-p{
		cursor:pointer;
	}
	
	.main-chat{
		height: 5%;
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;
		font-size:12px;
		position: relative;
	}
	
	.main-chat-text{
		width:64%;
		height: 17px;
	}
	
	.main-chat-button{
		height: 22px;
		background-color: black;
		color:white;
	}
	
	
