.message-main{

}
.message-menu-box{
	display: flex;
	border-radius: 5px;
}
.message-menu{
	width: 33.333%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid lightgray;
}
.message-middle-menu{
	width: 33.333%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.selected{
	background-color: cornflowerblue;
}
.message-search-box{
	margin-top: 10px;
	height: 30px;
	margin-bottom: 10px;
}
.message-search{
	width: 200px;
	height: 20px;
}
.message-search-btn{
	height: 28px;
	width: 50px;
}
.message-write-btn{
	display: inline;
	width: 100px;
	height: 30px;
	background-color: cornflowerblue;
	float: right;
	text-align: center;
	line-height: 30px;
}
.line{
	height: 2px;
	background-color: gray;
}
.message-list{
	display: flex;
	flex-direction: column;
}
.message-list-N{
	display: flex;
	font-size: 16px;
	color: blue;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid lightgray;
}
.message-list-Y{
	display: flex;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid lightgray;
	color: #474848;
}
.message-status{
	width: 10%;
	text-align: center;
}
.message-sender{
	width: 15%;
	margin-left: 10px;
}
.message-title{
	width: 60%;
}
.message-date{
	width: 15%;
	text-align: center;
}
.pages_box{
	text-align: center;
	margin-top: 10px;
}
.pages-selected{
	display: inline-block;
	width: 30px;
    height: 30px;
    line-height: 30px;
    background: cornflowerblue;
    border-radius: 100%;
    color: white;
}
.pages{
	display: inline-block;
	width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}
.left-arrow{
	display: inline-block;
	width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    font-size: 17px;
    font-weight: bold;
}
.right-arrow{
	display: inline-block;
	width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    font-size: 17px;
    font-weight: bold;
}

/* ------------- messageWrite --------------*/

.msg-write-title-font{
	font-size: 27px;
	margin: 10px 0;
}
.msg-write-title{
	width: 95%;
	height: 35px;
	margin-bottom: 10px;
	padding: 0 20px;
	font-size: 20px;
	border: 1px solid gray;
}
.msg-write-receiver-input{
	width: 100px;
	height: 100%;
	box-sizing: border-box;
	border: none;
	overflow: auto;
}
.msg-write-middle{
	margin-bottom: 20px;
	line-height: 30px;
}
.msg-write-file-btn{
	border: 1px solid gray;
	color: black;
	background-color: rgba(226, 233, 243, 0.3);
	font-size: 13px;
	border-radius: 5px;
	padding: 6px;
}
.msg-write-filelist{
	border: 1px solid;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 25px;
}
.msg-write-content{
	resize: none;
	width: 95%;
	height: 300px;
	font-size: 20px;
	padding: 20px;
	margin-bottom: 10px;
	overflow: auto;
}
.msg-send-btn{
	display: inline;
	width: 80px;
	height: 30px;
	background-color: cornflowerblue;
	float: right;
	text-align: center;
	line-height: 30px;
	font-size: 17px;
}
.msg-write-memberList{
	display: none;
}
.msg-write-memberList.active{
	display: block;
    background: cornflowerblue;
    margin-top: -10px;
    position: absolute;
    width: 845px;
}
.msg-write-memberList-item{
	height: 25px;
    line-height: 25px;
    border-bottom: 1px solid black;
}
.msg-write-receiver{
	background: lightblue;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding: 0 5px;
    margin-right: 5px;
    text-align: center;
}
.msg-write-receiver-box{
	display: inline-block;
}
.msg-write-file-name{
	display: block;
}
.msg-write-file-delete-btn{
	width: 18px;
    height: 18px;
    background: lightgray;
    display: inline-block;
    float: right;
    color: red;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;
}

/* ------------- messageDetail --------------*/

.msg-detail-header{
	border-bottom: 1px solid black;
    height: 80px;
    margin: 10px 0 20px 0;
}
.msg-detail-title{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.msg-detail-date{
	float: right;
    font-size: 14px;
    font-weight: lighter;
}
.msg-detail-sender{
	font-size: 14px;
    margin-bottom: 5px;
}
.msg-detail-receiver{
	font-size: 14px;
}
.msg-detail-middle{
	
}
.msg-detail-file-box{
	margin-bottom: 30px;
}
.msg-detail-file{
	display: block;
    font-size: 13px;
    height: 20px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    border: 1px solid;
}
.msg-detail-file:hover{
	text-decoration: underline;
}
.msg-detail-content{
	font-size: 15px;
    padding: 10px;
}
.msg-detail-file-delete-btn{
	color: red;
	height: 18px;
	border: 1px solid lightgray;
	line-height: 18px;
	float: right;
	width: 20px;
	text-align: center;
}

















