<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval-mapper">

	<select id="selectApForm" resultMap="approvalFormResultSet">
	select *
	from approval_form
	where af_title = #{title}
	</select>

	<resultMap type="ApprovalForm" id="approvalFormResultSet">
			<id column ="AF_NO" property="afNo"/>
			<result column="AF_CATE" property="afCate"/>
			<result column="AF_LINE" property="afLine"/>
			<result column="AF_AP_NO" property="afApNo"/>
			<result column="AF_TITLE" property="afTitle"/>
			<result column="AF_CONTENT" property="afContent"/>
			<result column="AF_DATE" property="afDate"/>
			<result column="AF_ETC" property="afEtc"/>
			<result column="WRITER" property="writer"/>
	</resultMap>
	
	
	<resultMap type="Member" id="memberResultSet">
		<id column="M_NO" property="mNo"/>
		<result column="M_PWD" property="mPwd"/>
		<result column="M_NAME" property="mName"/>
		<result column="M_GENDER" property="mGender"/>
		<result column="M_BIRTHDAY" property="mBirthDay"/>
		<result column="M_PHONE" property="mPhone"/>
		<result column="M_EMAIL" property="mEmail"/>
		<result column="M_ADDRESS" property="mAddress"/>
		<result column="M_ENT_DATE" property="mEntDate"/>
		<result column="M_HIRE_DATE" property="mHireDate"/>
		<result column="M_STATUS" property="mStatus"/>
		<result column="M_ADMIN" property="mAdmin"/>
		<result column="J_CODE" property="jCode"/>
		<result column="J_NAME" property="jName"/>
		<result column="D_CODE" property="dCode"/>
		<result column="D_NAME" property="dName"/>
		<result column="M_ORIGINPROFILE" property="mOriginProfile"/>
		<result column="M_RENAMEPROFILE" property="mRenameProfile"/>
	</resultMap>
	
	<select id="selectMembers" resultMap="memberResultSet">
		 select 
         m_no, m_name, j_code,d_code, j_name, d_name
		from member 
		left join Job using (j_code)
        	left join department using (d_code)
       	order by j_code desc
	</select>
	
	<insert id="insertAp">
		insert into approval
		values( ap_seq.nextval, #{apKeep}, sysdate, #{apReceiver}, #{apSender} ,default,
		        #{apCate}, #{apTitle}, #{apContent}, #{apLine}, sysdate, #{apCtitle})
	</insert>
	
	
	<select id="selectApNo" resultType="_int">
		select ap_no from
		(select ap_no from approval order by ap_no desc)
		where rownum = 1
	 </select>
	
	<insert id="insertAs">
		insert into approval_status
		values( as_seq.nextval, default, #{asLine}, sysdate, #{asApNo}, #{asApReceiver}, #{asMName} , #{asDName}, #{asJName} )
	</insert>
	
	<resultMap type="ApprovalStatus" id="approvalStatusResultSet">
			<id column ="AS_NO" property="asNo"/>
			<result column="AS_STATUS" property="asStatus"/>
			<result column="AS_LINE" property="asLine"/>
			<result column="AS_DATE" property="asDate"/>
			<result column="AS_AP_NO" property="asApNo"/>
			<result column="AS_AP_RECEIVER" property="asApReceiver"/>
			<result column="AS_M_NAME" property="asMName"/>
			<result column="AS_D_NAME" property="asDName"/>
			<result column="AS_J_NAME" property="asJName"/>
	</resultMap>
	
	
	<select id="asList" resultMap="approvalStatusResultSet">
		select as_no, as_status, as_line, as_date, as_ap_no, as_ap_receiver,
		as_M_name, as_d_name, as_j_name
		from approval_status
	</select>
	
	
	<resultMap type="Approval" id="approvalResultSet">
			<id column ="AP_NO" property="apNo"/>
			<result column="AP_KEEP" property="apKeep"/>
			<result column="AP_DATE" property="apDate"/>
			<result column="AP_RECEIVER" property="apReceiver"/>
			<result column="AP_SENDER" property="apSender"/>
			<result column="AP_STATUS" property="apStatus"/>
			<result column="AP_CATE" property="apCate"/>
			<result column="AP_TITLE" property="apTitle"/>
			<result column="AP_CONTENT" property="apContent"/>
			<result column="AP_LINE" property="apLine"/>
			<result column="AP_UPDATE" property="apUpdate"/>
			<result column="AP_CTITLE" property="apCtitle"/>
			<result column="M_NO" property="mNo"/>
			<result column="M_NAME" property="mName"/>
	</resultMap>	
	
	<select id="selectList" resultMap="approvalResultSet">
		SELECT ap_no, ap_keep, ap_date, ap_receiver, ap_sender, ap_status,
		ap_cate,ap_title,ap_content,ap_line,ap_update,ap_ctitle,
		m_no, m_name, j_code,d_code, j_name, d_name
		FROM approval
		LEFT outer JOIN member ON ap_receiver = m_no
        left join Job using(j_code)
        left join department using(d_code)
		order by ap_date desc
	</select>
	
	<select id="apDetail" resultMap="approvalResultSet">
		SELECT ap_no, ap_keep, ap_date, ap_receiver, ap_sender, ap_status,
		ap_cate,ap_title,ap_content,ap_line,ap_update,ap_ctitle,
		m_no, m_name
		from approval
		LEFT OUTER JOIN member 
		ON ap_receiver = m_no
		where ap_no = #{apNo}
	</select>
	
	<select id="selectSender" resultMap="approvalResultSet" >
		SELECT ap_no, ap_keep, ap_date, ap_receiver, ap_sender, ap_status,
		ap_cate,ap_title,ap_content,ap_line,ap_update,ap_ctitle,
		m_no, m_name
		from approval
		LEFT OUTER JOIN member 
		ON ap_sender = m_no
		where ap_no = #{apNo}
	</select>
	
	
	<update id="apUpdate">
		update approval
		set ap_status = '1'
		where ap_no=  #{apNo}
	</update>
	
	<update id="apRejected">
		update approval
		set ap_status = '2'
		where ap_no=  #{apNo}
	</update>
	
	<update id="apDelete">
		update approval
		set ap_status = '3'
		where ap_no=  #{apNo}
	</update>
	
	
</mapper>
