<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat-mapper">
	<select id="getChatRoom" resultMap="chatRoomResultSet">
		select c_room_no, c_room_m, c_room_p, c_room_p_name, m_name, c_room_profile
			  from chatroom join member on (c_room_m = m_no)
		where (c_room_m = #{cRoomM} or c_room_m = #{cRoomP})
			   and (c_room_p = #{pComma} or c_room_p = #{mComma})
	</select>

	<select id="chatMsgList" resultMap="chatMsgResultSet">
		select c_msg_no, c_msg_writer, c_msg_room_no, c_msg_content, m_name, c_msg_date
		from chatmessage join member on (c_msg_writer = m_no)
		where c_msg_room_no = #{cRoomNo}
		order by c_msg_no
	</select>	
	
	<resultMap type="ChatMessage" id="chatMsgResultSet">
		<id column="c_msg_no" property="cMsgNo"/>
		<result column="c_msg_writer" property="cMsgWriterNo"/>
		<result column="c_msg_content" property="cMsgContent"/>
		<result column="c_msg_room_no" property="cMsgRoomNo"/>
		<result column="m_name" property="cMsgWriterName"/>
		<result column="c_msg_date" property="cMsgDate"/>
	</resultMap>
	
	<insert id="createChatRoom">
		insert into chatroom
		values(chat_room_seq.nextval, #{cRoomM}, #{cRoomP}, #{cRoomPName}, #{cRoomProfile})
	</insert>
	
	<insert id="insertChatMsg">
		insert into chatmessage
		values(chat_msg_seq.nextval, #{cMsgWriterNo}, #{cMsgRoomNo}, #{cMsgContent}, default)
	</insert>
	
	<select id="getChatRoomList" resultMap="chatRoomResultSet">
		select *
		from(select c_room_no, c_room_m, c_room_p, c_room_p_name, m_name, c_room_profile
			 from chatroom join member on (c_room_m = m_no)
			 order by c_room_no desc)
		where c_room_m = #{mNo} or c_room_p like '%' || #{mNo} || '%' 
	</select>
	
	<resultMap type="ChatRoom" id="chatRoomResultSet">
		<id column="C_ROOM_NO" property="cRoomNo"/>
		<result column="C_ROOM_M" property="cRoomM"/>
		<result column="C_ROOM_P" property="cRoomP"/>
		<result column="m_name" property="cRoomMName"/>
		<result column="C_ROOM_P_NAME" property="cRoomPName"/>
		<result column="C_ROOM_PROFILE" property="cRoomProfile"/>
	</resultMap>
	
	<update id="addParticipant">
		update chatroom set c_room_p = #{cRoomP}, c_room_p_name = #{cRoomPName}
		where c_room_no = #{cRoomNo}
	</update>
	
	<select id="selectChatRoom" resultMap="chatRoomResultSet">
		select c_room_no, c_room_m, c_room_p, c_room_p_name, m_name, c_room_profile
		from chatroom join member on (c_room_m = m_no) 
		where c_room_no = #{roomNo}
	</select>
	
	<select id="getPName" resultType="string">
		select m_name from member where m_no = #{participant}
	</select>
	
	<select id="firstMsgList" resultMap="chatMsgResultSet">
		select c_msg_no, c_msg_writer, c_msg_room_no, c_msg_content, m_name, c_msg_date
		from chatmessage join member on (c_msg_writer = m_no)
		where c_msg_room_no = #{cRoomNo} and
		c_msg_no = (select max(c_msg_no) from chatmessage)
	</select>
	
	<select id="getPProfile" resultType="string">
		select m_renameprofile from member where m_no = #{participant}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
