<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="collabo-mapper">
	<insert id="insertBoardC">
		insert into board values
		(BO_seq.nextval, #{bDept}, #{bTitle}, #{bContent}, SYSDATE, SYSDATE, 0, 3, default, #{bMNo}, 'Y', default, default)
	</insert>
	
	<select id="selectBNo" resultType="_int">
		select B_NO
		from board
		where ROWNUM = 1 ORDER BY B_NO DESC
	</select>
	
	<insert id="insertCollabo">
		insert into collabo values
		(co_seq.nextval, #{cBNo}, #{cMNo}, #{cStartDate}, #{cEndDate}, #{cPeople}, default, #{cBctNo}, default)
	</insert>
	
	<select id="selectListC" resultMap="collaboResultSet">
		select c_no, c_b_no, c_m_no, c_start_date, c_end_date, c_people, c_first, cbct_no, cbct_status,
		       b_title, b_content, b_modify_date, m_name, FB_STATUS
    		from board
	    		join collabo on(b_no = c_b_no)
	    		join collabo_cate using(cbct_no)
	    		join member on(b_m_no = m_no)
	    	where b_status='Y'
	    		and c_people like #{mName2}
	    		and b_collabo = 'Y'
	    	order by c_no desc
	</select>
	
	<resultMap type="Collabo" id="collaboResultSet">
		<id column="C_NO" property="cNo"/>
		<result column="C_B_NO" property="cBNo"/>
		<result column="C_M_NO" property="cMNo"/>
		<result column="C_START_DATE" property="cStartDate"/>
		<result column="C_END_DATE" property="cEndDate"/>
		<result column="C_PEOPLE" property="cPeople"/>
		<result column="C_FIRST" property="cFirst"/>
		<result column="CBCT_NO" property="cBctNo"/>
		<result column="CBCT_STATUS" property="cBctStatus"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_MODIFY_DATE" property="bModifyDate"/>
		<result column="M_NAME" property="bWriter"/>
		<result column="FB_STATUS" property="fbStatus"/>
	</resultMap>
	
	<select id="selectListB" resultMap="boardCResultSet">
		select b_no, b_dept, b_title, b_content, b_create_date, b_modify_date, b_type,
			   b_m_no, m_name 
    		from board
	    		join collabo on(b_no = c_b_no)
	    		join collabo_cate using(cbct_no)
	    		join Member on(b_m_no = m_no)
    		where b_status='Y'
    			and b_collabo = 'Y'
    		order by b_no desc
	</select>
	
	<resultMap type="Board" id="boardCResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_DEPT" property="bDept" />
		<result column="B_TITLE" property="bTitle" />
		<result column="B_CONTENT" property="bContent" />
		<result column="B_CREATE_DATE" property="bCreateDate" />
		<result column="B_MODIFY_DATE" property="bModifyDate" />
		<result column="B_COUNT" property="bCount" />
		<result column="B_TYPE" property="bType" />
		<result column="B_STATUS" property="bStatus" />
		<result column="B_M_NO" property="bMNo" />
		<result column="M_NAME" property="mName" />
	</resultMap>
	
	<update id="updateBtn">
		UPDATE COLLABO SET CBCT_NO=#{cBctNo} WHERE C_NO=#{cNo}
	</update>
	
	<update id="updateCollaboB">
		update board 
			set b_title=#{bTitle}, b_content=#{bContent}, b_modify_date=SYSDATE
			where b_no=#{cBNo}
	</update>
	
	<update id="updateCollaboC">
		update collabo 
			set c_start_date=#{cStartDate}, c_end_date=#{cEndDate}, c_people=#{cPeople}, CBCT_NO=#{cBctNo}
			where c_no=#{cNo}
	</update>
	
	<select id="selectCateCBctNo" resultMap="collaboResultSet">
			select c_no, c_b_no, c_m_no, c_start_date, c_end_date, c_people, c_first, cbct_no, cbct_status,
		       b_title, b_content, b_modify_date, m_name, fb_status
    		from board
	    		join collabo on(b_no = c_b_no)
	    		join collabo_cate using(cbct_no)
	    		join member on(b_m_no = m_no)
	    	where b_status='Y'
	    		and CBCT_NO = #{cBctNo}
	    		and c_people like '%' || #{cPeople} || '%'
	    		and b_collabo = 'Y'
	    	order by c_no desc
	</select>
	
	<select id="selectCateCMNo" resultMap="collaboResultSet">
			select c_no, c_b_no, c_m_no, c_start_date, c_end_date, c_people, c_first, cbct_no, cbct_status,
		       b_title, b_content, b_modify_date, m_name, fb_status
    		from board
	    		join collabo on(b_no = c_b_no)
	    		join collabo_cate using(cbct_no)
	    		join member on(b_m_no = m_no)
	    	where b_status='Y'
	    		and CBCT_NO in ('C1','C2','C3','C4','C5') 
	    		and c_m_no = #{cMNo}
	    		and b_collabo = 'Y'
	    	order by c_no desc
	</select>
	
	<update id="updateFBStatus">
		update collabo
			set fb_status ='Y' 
			where C_no = #{fCNo}
	</update>
	
	<insert id="insertFeedback">
		insert into feedback 
		values (fb_seq.nextval, #{fCNo}, #{fMNo}, #{fContent}, sysdate, sysdate, default)
	</insert>
	
	<resultMap type="Feedback" id="FeedbackResultSet">
		<id column="F_NO" property="fNo"/>
		<result column="F_C_NO" property="fCNo" />
		<result column="F_M_NO" property="fMNo" />
		<result column="M_NAME" property="fWriter" />
		<result column="F_CONTENT" property="fContent" />
		<result column="F_CREATE_DATE" property="fCreateDate" />
		<result column="F_MODIFY_DATE" property="fModifyDate" />
		<result column="F_STATUS" property="fStatus" />
		<result column="J_NAME" property="jName" />
		<result column="D_NAME" property="dName" />
		<result column="M_RENAMEPROFILE" property="mRenameProfile" />
	</resultMap>
	
	<select id="selectFeedback" resultMap="FeedbackResultSet">
		select f_no, f_c_no, f_m_no, f_content, f_create_date, f_modify_date, f_status, m_name, j_name, d_name, M_RENAMEPROFILE
    	from feedback
        	join member on(m_no = f_m_no)
        	join job using(j_code)
        	join department using(d_code)
        where f_c_no = #{fCNo}
        and f_status='Y'
        order by f_no asc
	</select>
	
	<select id="selectCollabo" resultMap="collaboResultSet">
		select * from collabo 
		where c_no = #{fCNo}
	</select>
	
	<select id="selectMemberListC" resultMap="memerResultSet">
		select m_no, m_name, d_name, j_name
			from member
			    join Job using(j_code)
    			join department using(d_code) 
    		where m_status='Y'
    			and m_name like '%' || #{inputString} || '%'
	</select>
	
	<resultMap type="Member" id="memerResultSet">
		<id column="M_NO" property="mNo"/>
		<result column="M_NAME" property="mName" />
		<result column="D_NAME" property="dName" />
		<result column="J_NAME" property="jName" />
	</resultMap>
	
	<update id="deleteCollabo">
		update board
			set b_status='N'
			where b_no=#{cBNo}
	</update>
</mapper>
