
	#calendar {
	    position: absolute;
	    left: 10px;
	    right: 10px;
	    bottom: 10px;
	    top: 100px;    
	}

	.main-right {position:relative;}  
	
  	.moveBtn{font-weight: bold; font-size: 15pt; border-style: none; background: none; margin:10px;}
 
	#todayBtn{font-weight: bold; background: none; border: 2px solid lightgrey;}
	
	#renderRange{font-size: 15pt;}
	
	#todayBtn:hover, .moveBtn:hover{cursor: pointer;}
	
	.tui-datepicker-input{margin: 0.7em;}
	
	.cal_input{margin: 0.7em; padding: 0.3em;}

	.vac_text{margin: 0.7em; padding: 0.3em; font-size: 11pt;}	

	#acceptVac {margin-top: 1em;}
	
	#calContent, #calUpdateContent{width:85%;}
	
	#calCate, #calUpdateCate{width:50%;}
	
	#menu-navi {float: right;}	
	
 	#menu-navi, #cateNavi {display: inline-block;}
 	
 	#vacContent, #vacUpdateContent {width: 62%}
 	
 	#cateNavi{font-size: 10pt; margin: 0.3em;}
	
	.color {
		width: 0.5em; 
		height:0.5em; 
		display: inline-block; 
		border: 1px solid;
		
	}